body {
	color: rgb(8, 2, 37);
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: #f4f6f9;
}

#a {
	width: auto;
}

#form1 {
	margin: 20px;
	color: #0100a2;
	width: auto;
	height: auto;
	background: #ffffff;
	border-radius: 5px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

legend {
	text-align: center;
	color: #0100a2;
}

img {
	padding-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

#fieldset-1 {
	height: auto;
	padding: 20px;
	width: 500px;
	margin: 20px;
}

.div-fieldset-1 {
	display: flex;
	gap: 20px;
}

#fieldset-2 {
	height: auto;
	width: 500px;
	padding: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 0;

}

.div-fieldset-2 {
	display: flex;
	gap: 20px;
}

.label-champ {
	font-weight: 600;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #0100a2;
}

.input-champ {
	width: 250px;
	padding: 12px 15px;
	border: 1.5px solid #ddd;
	border-radius: 6px;
	font-size: 1rem;
	font-family: inherit;
}

.input-select {
	width: auto;
	padding: 10px;
	font-size: 16px;
	border: 1.5px solid #ddd;
	border-radius: 6px;
	font-size: 1rem;
	font-family: inherit;
}

.div-select {
	display: flex;
	gap: 210px;
}
#div-filiere{
gap: 110px;
}
.civilité {
width: 100px;
	padding: 5px;
}

.sexe {
	width: 100px;
	padding: 5px;
}

.label-select {
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #0100a2;
	font-weight: 600;
}

.div-button {
	display: flex;
	margin: 40px;
	gap: 20px;
	justify-content: center;
}

button {
	border: 3px;
	border-radius: 5px;
	background-color: #0100a2;
	color: white;
	height: 30px;
	text-align: center;
	transition: background-color 0.3s, transform 0.2s;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 20px;
}

button:hover {
	background-color: rgb(24, 77, 142);
	transform: translateY(-2px);
	text-decoration: none;
	color: white;
}

table {
	margin: 20px;
	border-collapse: collapse;
	text-align: center;
}

td {
	border: 1px black solid;
	width: 50px;
	padding: 10px;
}