body {
  /* font-family: Times New Roman, Times, serifs; */
  margin: 0px;
  padding: 0px;
  line-height: 1.6;
}

/* Logo */
#logo {
  object-fit: cover;
  display: block;
}


/* Header */
.header-content {
  display: flex;
  justify-content: space-between;
  font-family: Georgia, serif;
  background: #0100a2;
  color: #ffffff;
  width: 100%;
  /* padding: 0 30px; */
  /* position: relative;
  top: 0; */
}
.header-right {
  display: flex;
  justify-content: space-between;

}

#page {
  max-width: 800px;
  margin: 10px;
  /* padding: 10% 8%; */
}

#text {
  color: #000000;
  display: block;

}

#presentation {
  margin-top: 20px;
  background: gray;
  width: 1000px;
  text-align: center;
  height: 35px;
  border: 1.5px solid #000000;
  padding-bottom: 15px;
}

.information {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

footer {
  background: #1e2942;
  padding: 2rem;
  height: 100px;
  position: relative;
  bottom: 0;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
}

.footer-content {
  color: #d1d2dc;
  display: flex;
  justify-content: space-around;
  font-size: 10px;
}

.footer-section {
  width: 100%;
}

.footer-content2 {
  color: #d1d2dc;
  display: flex;
  justify-content: space-around;
  font-size: 10px;
}

.footer-section2 {
  width: 100%;
}
